
#header{
    padding: 1% 15%;
    color:#fff;
}
.navbar-brand{
    font-family: 'Poppins-Semibold';
    font-size: 30px;
    line-height:1;
    letter-spacing: 0.8px;
    font-weight: 600;
}
.color-blue{
    color: #007aff;

}
.nav-item{
    font-size: 15px;
    padding:0 3px;
    font-weight: 600;
}
.nav-link:hover{
color: #007aff;

}
.main_img{
position: absolute;
opacity:0.5;
z-index: -1;
}
.main_content{
 position: relative;
    padding: 15% 15%;
    z-index: 1;
}

.intro{
    font-weight: bolder;
    line-height: 25px;
   
}
.intro_1{
    color: #8f8f8f;
    line-height: 64px;
}

.btn{
    margin-right: 20px;
}
.fa-solid{
    color: #007aff;
}
.fa-circle-play{
    margin-right: 20px;
}

    

.fa-circle-play{
    font-size: 32px;
}
.fa-light{
    opacity: 2;
}
#features{
 
    padding:3% 15%;

}
.fcol{
    padding: 3%;
    text-align: left;
    line-height: 1.5;
}
.fa-star,.fa-globe,.fa-file,.fa-basketball,.fa-music,.fa-bolt{
    margin-bottom: 25px;
}
#about{
    padding:1% 15%;
    text-align: center;
}
h2{
font-size: 13px;
letter-spacing: 1px;
font-weight: 700;
padding: 8px 20px;
margin-bottom: 0.2%;
background: #e7f1fd;
color: #106eea;
display: inline-block;
text-transform: uppercase;
border-radius: 50px;
}
.about_head{
    font-weight: bolder;
    padding-top: 1%;
    padding-bottom: 1%;
}
.about_icon{
    position: absolute;
    margin-top: 20px;
    color: #106eea;
}
.about_data{

    position: relative;
    margin-left: 80px;
    text-align: left;
    
}
.about_p{
    padding: 0% 25%;
    padding-bottom:1%;
}
.about_head3{
    font-weight: bold;
}
.align_left{
    text-align: left;
}
#stats{
text-align: center;
}
.about_side{
    padding-top: 8%;
}
#pricing{


    text-align:center;


}
sup{
    font-size: 20px;
    top: -8px;
    left: -3px;

}
.month{
    color: #bababa;
    font-size: 16px;
    font-weight: 300;
}
.card-text{
    color:#444444;
}
.unv{
    color: #ccc;
    text-decoration: line-through;
}
    .bn{

        padding-top: 8px;
        padding-left: 35px;
        padding-bottom: 10px;
        padding-right: 35px;
    border-radius: 4px;
}
.br{
    border-radius: 4px;
}
.supp{
    margin-top: 5px;
}
.con{
    padding-top: 3%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 3%;
    position: absolute;
   
    z-index: 1;
    background-color: #fff;
}
.con2{
    position:absloute;
    z-index: -1;
}
.con3{
    
    position: absolute;
    margin-top: -20%;
    background-color: #fff;
    padding-left: 15%;
    padding-right: 15%;

    z-index:2;
}
.price_pad{
    margin-top: 3%;

}
